
























.met .galleryItem .image-wrapper {
  position: relative;
}

.met .galleryItem .image-wrapper img {
  width: 100%;
  display: block;
}

.met .galleryItem .image-wrapper > .like-button {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  border: none;
  background: rgba(0,0,0,0.35);
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  padding: 4px 6px;
  cursor: pointer;
}

.met .galleryItem .image-wrapper > .like-button.liked {
  background: rgba(0,0,0,0.35);
  color: red;
}
