.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #2f3837;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 14px;
  font-size: 16x;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  opacity: 0; 
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover {
    transform: scale(1.1);
    background-color: #444;
  }
}
