body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1; // 메인이 남은 공간 밀어줘서 푸터가 아래로 감
}
